/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(../fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* Общие стили для всего приложения */
body {
  background: #031b34;
  padding: 0 2rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

.section {
  max-width: 1169px;
  width: 100%;
}

.lined_header {
  background: url("../assets/img/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

/* Стили для Шапки */
.header {
  display: flex;
  max-width: 1169px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #031b34;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */
.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  min-height: 60vh;
  margin: 14rem 0 8rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 75%;
}

.hero_section .hero_section__left .left__description {
  color: #81afdd;
  line-height: 1.8;
  font-size: 20px;
  margin-bottom: 0.5rem; 
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  margin-bottom: 0.5rem; 
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 456px;
  width: 70%;
  height: 73px;
  padding: 8px 32px;
  font-size: 20px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  background-color: #052d56;
}

/* Стили для placeholder (подсказки) */
.hero_section .hero_section__left .left__cta_buttons input[type="text"]::placeholder {
  color: #92aac1;
  font-size: 20px;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
  min-width: 174px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 0 2rem;
  box-sizing: border-box;
}

.hero_section .hero_section__left .left__social_approve {
  display: flex;
  margin-top: 1rem;
  padding: 0;
  color: #fff;
  align-items: center;
}

.hero_section .hero_section__left .left__social_approve span {
  padding: 0 0 0 17px;
  font-size: 12px;
  margin: 0;
}

.hero_section .hero_section__left .left__social_approve:empty {
  display: none;
}

.hero_section .hero_section__right {
  height: 100%;
}

.hero_section .hero_section__right img {
  width: 100%;
}

/* Секция брендов */
.brands_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 4rem 0;
  column-gap: 3rem;
}

/* Что такое Chat GPT */
.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(../assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  line-height: 1.8;
  font-size: 16px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section
  .what_is_chatgpt_section__bottom
  .bottom__container
  .container__content {
  color: #81afdd;
  font-size: 16px;
  line-height: 1.8;
}

/* Будущее наступило */
.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

/* .future_here .future_here__left .left__header { } */

.future_here .future_here__left .left__cta {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
  font-size: 18px
}

.future_here .future_here__right .right__container .container__content {
  width: 20.875rem;   /* 334px */
  height: 5.625rem;   /* 90px */
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8; /* Межстрочный интервал */
  margin: 0;
  padding: 0;
}

/* Девушка — не трогаем */
.girl {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
  padding-bottom: 10rem;
}

.girl .girl__left {
  height: 100%;
  width: 60%;
}

.girl .girl__left img {
  width: 100%;
}

.girl .girl__right {
  height: 100%;
  width: 40%;
  margin-top: 20rem;
}

.girl .girl__right .early_access_text {
  color: #81AFDD;
  margin-bottom: 2rem;
}

.girl .girl__right .bed_text {
  color: #81AFDD;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.girl .girl__right .request_early_access {
  color: #FF8A71;
  border-bottom: 1px solid transparent;
}

/* CTA-блок "begin" */
.begin{
  width: 73rem;
  height: 10.8rem;
  border-radius: 0.7rem;
  border: 1px solid #000;
  background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.begin .rectangle{
  display: flex;
  justify-content: space-between;
}

.begin .rectangle .begin_left{
  margin-top: 2rem;
  margin-left: 2.8rem;
}

.begin .begin_left .text{
  background: #0E0E0E;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}

.begin .begin_left .text2{
  color: #000;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}

.begin .rectangle .btn_cont{
  margin-top: 3.5rem;
  margin-right: 1.7rem;
}

.begin .rectangle .button_begin{
  background-color: #000;
  color: #fff;
  width: 190px;
  height: 60px;
  border-radius:  40px;
  border: #000;
}

/* Блог */
.blog .header_blog {
  font-size: 62px;
  width: 64%;
  padding: 8rem 0rem 6rem 0rem;
}

.blog .container_for_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem; 
  padding-bottom: 7rem;
}

.blog .container_for_block .large_block {
  display: flex;
  flex-direction: column;
}

.blog .container_for_block .large_block .large_img {
  object-fit: cover;
  width: 417.03px;
  height: 287.34px;
}

.blog .container_for_block .large_block .blok_large {
  background-color: #042C54;
  color: white;
  width: 417.03px;
  height: 406.71px;
}

.blog .container_for_block .large_block .blok_large .data_1 {
  font-size: 11.65px;
  margin-bottom: 0.5rem;
  padding: 2.5rem 0 0 1.4rem;
}

.blog .container_for_block .large_block .blok_large .text_1 {
  font-size: 25.11px;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0 7rem 11rem 1.4rem;
}

.blog .container_for_block .large_block .blok_large .ssylka_eto_futare {
  font-size: 12px;
  padding: 0 0 10rem 1.4rem;
}

.blog .small_blocks {
  display: grid;
  grid-template-columns: repeat(2, 327.34px);
  grid-gap: 3rem;
}

.blog .small_blocks .text_and_img_2 {
  display: flex;
  flex-direction: column;
}

.blog .small_blocks .text_and_img_2 .photo {
  object-fit: cover;
  width: 327.34px;
  height: 130.47px;
}

.blog .small_blocks .text_and_img_2 .blok_2 {
  background-color: #042C54;
  padding: 0;
  color: white;
  width: 327.34px;
  height: 193.37px;
}

.blog .small_blocks .text_and_img_2 .blok_2 .data_2 {
  padding: 1rem 0 0 1.4rem;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.blog .small_blocks .text_and_img_2 .blok_2 .text_2 {
  font-size: 19px;
  font-weight: bold;
  padding: 0rem 2rem 2.1rem 1.4rem;
}

.blog .small_blocks .text_and_img_2 .blok_2 .ssylka_eto_futare_2 {
  font-size: 12px;
  text-decoration: none;
  padding: 0 0 0 1.4rem;
}

/* Футер */
.footer {
  display: flex;
  width: 100%;
  height: 950px;
  background-color: #06182c;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  box-sizing: border-box;
}

.footer .footer_header {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer .header_text_box {
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  max-width: 821px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1,5%;
  margin-bottom: 5%;
  word-wrap: break-word; 
  word-break: break-word;
  white-space: normal; 
}

.footer .btn_last {
  display: flex;
  padding: 1rem 4rem;
  background-color: #031B34;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 0;
  border: 2px solid #ffffff;
  margin-top: 10%;
  margin-bottom: 20%;
}

.footer .btn_box {
  margin-top: -5%;
}

.footer .gpt_box {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  flex-wrap: wrap;
  gap: 5%;
  width: 100%; 
}

.footer .links {
  margin: 0 auto;
  padding-left: 15%;
}

.footer .company, 
.footer .get_in_touch {
  margin-left: auto;
}

.footer .box_menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.footer .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .gpt_icon {
  margin-bottom: 10px;
  width: auto;
  height: auto;
  word-wrap: break-word; 
  word-break: break-word;
  white-space: normal; 
}

.footer .text_2 {
  text-align: left;
}

.footer .text_1, .footer .text_2, .footer .text_3 {
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  text-align: left;
}

.footer .text_1 {
  font-size: 14px
}  

.footer .text_2 {
  font-size: 12px;
  margin-top: 25px;
  text-align: left;
}

.footer .text_3 {
  font-size: 12px;
  margin-top: 25px;
}

.rights_reserved {
  display: flex;
  width: 100%;
  height: 10px;
  background-color: #06182c;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.rights_reserved .rights_reserved_text {
  font-family: "ManropeLight", sans-serif;
  color: #ffffff;
  background-color: #040C18;
  font-size: 10px;
  width: 100vw;
  margin-left: 0;
  margin-right: 0; 
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
}
